* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #5f6fd8, #7a4bd1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  color: black;
}

.form-box {
  background: #eaeaea;
  padding: 25px;
  border-radius: 12px;
  width: 350px;
  text-align: left;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-top: 10px;
  font-size: 13px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

label input[type="radio"] {
  width: auto;
  margin-right: 5px;
}

.check {
  margin-top: 10px;
  font-weight: normal;
}

.check input {
  width: auto;
  margin-right: 5px;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background: #5f6fd8;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #4b5ac0;
}
