* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(3, 0, 29, 0.938);
}
.title {
  color: #00ff00;
  text-align: center;
  margin: 20px;
}
.list {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 20px;
  margin: 20px;
  color: #00ff00;
}

.btn {
  padding: 8px 16px;
  color: #00ff00;
  border: 1px solid #00ff00;
  border-radius: 3px;
  background-color: transparent;
  font-size: 14px;
  text-decoration: none;
}
.hr {
  width: 80%;
  margin: 20px auto;
  border: none;
  border-top: 1px dashed #00ff00;
}
.superconteiner {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  margin: 30px;
}
.conteiner {
  padding: 20px;
  flex: 3;
}
.article {
  width: 100%px;
  background-color: #13263a;
  padding: 15px;
  border: 1px solid #13263a;
}
.conteiner-mid {
  width: 100%;
  background-color: #13263a;
  padding: 15px;
  border: 1px solid #00ff00;
}
.conteiner-itext {
  color: #00ff00;
  text-align: center;
}

.conteiner-title {
  color: #ffffff;
  margin: 10px;
}
.conteiner-text {
  color: #ffffff;
  margin: 10px;
}
.conteiner .imagen {
  width: 100%;
  margin: 15px 0px;
}
.conteiner-lorem {
  color: #ffffff;
  margin: 10px;
}
.conteiner-sub {
  background-color: #13263a;
  padding-left: 20px;
  border: 1px solid #00ff00;
  flex: 1;
  margin: 20px;
}
.conteiner-subtitle {
  color: #ffffff;
  margin: 8px;
}
.sub-text {
  color: #ffffff;
  margin: 8px;
}
.hr-mid {
  width: 80%;
  margin: 10px;
  border-top: 1px solid #00ff00;
}
.end {
  text-align: center;
  color: #00ff00;
}
